<nav *ngIf="core.session" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand logo" routerLink="/" href="">
    MF Timing
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item "  ><a class="nav-link" routerLink="/race" [routerLinkActive]="'active'" href="" translate>Race</a></li>
      <li class="nav-item "  *ngIf="r&&r.competitors"><a class="nav-link" routerLink="/competitors" [routerLinkActive]="'active'" href="" translate>Competitors</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" translate>
          Administration
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" *ngIf="r&&r.users" routerLink="/users" [routerLinkActive]="'active'" href="" translate>Users</a>
          <a class="dropdown-item" *ngIf="r&&r.seasons" routerLink="/seasons" [routerLinkActive]="'active'" href="" translate>Seasons</a>
          <a class="dropdown-item" *ngIf="r&&r.category" routerLink="/category" [routerLinkActive]="'active'" href="" translate>Category</a>
          <a class="dropdown-item" *ngIf="r&&r.race" routerLink="/race" [routerLinkActive]="'active'" href="" translate>Race</a>
          <a class="dropdown-item" *ngIf="r&&r.log" routerLink="/log" [routerLinkActive]="'active'" href="" translate>Log</a>
        </div>
      </li>      
      <app-nav-trash *ngIf="r&&r.trash" [app]="app"></app-nav-trash>
      <app-nav-appevts-log [app]="app"></app-nav-appevts-log>
    </ul>
    <span *ngIf="!app.ready" class="navbar-text silver"><fa-icon [icon]="faCog" [spin]="true"></fa-icon> loading...</span>
    <span class="navbar-text">
      <a href="" routerLink="/user/{{core.user.id}}">{{core.user.name}}</a> | <span title="Sign Out" (click)="logOut()" class="pointer" style="vertical-align: -1px;"><fa-icon [icon]="faSignOutAlt" ></fa-icon></span>
    </span>
  </div>
</nav>
