<form>
  <div class="form-row">
    <div *ngIf="addPath" class="col" style="max-width: 62px; min-width: 62px;">  
      <button  type="button" class="form-control" [disabled]="!svc.r.a" routerLink="/{{addPath}}" class="btn btn-secondary" translate>Add</button>
    </div>
    <div class="col filter" *ngFor="let inputName of s.filter|keys">
      <input [(ngModel)]="s.filter[inputName]" [ngModelOptions]="{standalone: true}" type="text" class="form-control" placeholder="{{(itemType+'.'+inputName)|translate}}">
    </div>
    <div class="col" style="max-width: 51px; min-width: 51px;">
      <button type="button" (click)="resetFilter()" class="btn btn-light"><fa-icon  [icon]="faBan" class="grey" title="Reset filters"></fa-icon></button>
    </div>
    <div class="col" style="max-width: 100px; min-width: 100px;">
      <select  [(ngModel)]="s.limit" [ngModelOptions]="{standalone: true}" class="form-control">
        <option *ngFor="let _limit of limits">{{_limit}}</option>
      </select>
    </div>
    <div *ngIf="options.exportBtn" class="col" style="max-width: 45px; min-width: 45px;">
      <button type="button" (click)="export()" class="btn btn-light"><fa-icon  [icon]="faFileExcel" class="grey" title="Export table to Excell file (xlsx)"></fa-icon></button>
    </div>
    <div *ngIf="options.clearBtn" class="col" >
      <button *ngIf="!clearDialog" type="button" (click)="clearDialog = true" class="btn btn-light"><fa-icon  [icon]="faTrashAlt" class="tomato" title="Clear table"></fa-icon></button>
      <button *ngIf="clearDialog" type="button" (click)="clearDialog = false" class="btn btn-outline-secondary">Cancel</button>
      <button *ngIf="clearDialog" type="button" (click)="clear();" class="btn btn-danger ml-2">Clear</button>

    </div>
  </div>
</form>
