<app-items-controls [app]="app" [itemType]="itemType" ></app-items-controls>
<app-items-table [app]="app" [itemType]="itemType" [options]="tableOptions"></app-items-table>

<!-- <div *ngIf="app.recievers.r.r">
<table class="mt-2 table {{!app.recievers.ready?'not-ready':'ready'}}">
  <thead>
    <tr>
      <th scope="col" width="30px">#</th>
      <th scope="col" width="30px"></th>
      <th scope="col">Name</th>
      <th scope="col">unitHw</th>
      <th scope="col">units_id</th>
      <th scope="col">Tags</th>
      <th scope="col" width="30px"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of app.recievers.items | myFilter: app.state.items.recievers.filter | slice:0:25 ; async as itemsResult ; index as i;">
      <th scope="row">{{i+1}}</th>
      <td><a  class="{{!app.log.r.d&&'disabled'}}" href="" [routerLink]="'/log/10/'+item.id" title="Show log by this item"><fa-icon [icon]="faListAlt"></fa-icon></a></td>
      <td><a  href="" [routerLink]="'/reciever/'+item.id" (click)="filter=''">{{item.name}}</a></td>
      <td>{{item.unitHwName}}</td>
      <td>{{item.unitUid}}</td>
      <td>
        <span *ngIf="item.tags&&app.tags.ready&&app.tags.items.length">
          <a  href="" [routerLink]="'/tag/'+tagId"  *ngFor="let tagId of item.tags">{{app.tags._index.id[tagId].num}}; </a>
        </span>
      </td>
      <td><span class="tomato pointer {{!app.recievers.r.d&&'disabled'}}" (click)="app.recievers.r.d&&delItem(item);"><fa-icon [icon]="faTrashAlt"></fa-icon></span></td>
    </tr>
  </tbody>
</table>
</div>
<div  *ngIf="!app.recievers.r.r" class="alert alert-warning text-center" role="alert">Access denied. You have no read access to this items</div> -->