<h3><span  class="text-capitalize">{{'type.reciever'|translate}}</span> : {{(reciever?'Edit':'Create')|translate|lowercase }}</h3>
<form  [formGroup]="recieverForm" (submit)="onRecieverFormSubmit()">
  <fieldset  [disabled]="(reciever&&!app.recievers.r.m)||(!reciever&&!app.recievers.r.a)" >
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="units_id" translate>recievers.units_id</label>
          <input type="hidden" class="form-control" id="units_id" formControlName="units_id">
          <app-search-select [item]="item" [refSvc]="app.units" [form]="recieverForm" [controlIdKey]="'units_id'"  [refNameKey]="'nm'"></app-search-select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="tz" translate>recievers.tz</label>
          <input type="number" min="-24" max="24" class="form-control" id="tz" formControlName="tz">
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label for="k" translate>recievers.k</label>
          <input type="number" class="form-control" id="k" formControlName="k">
        </div>
      </div>
    </div>
    <input type="hidden" class="form-control" id="tags" formControlName="tags">
      <app-multi-select [disabled]="reciever&&!app.core.user.rights.items.recievers_tags.m" [item]="item" [refSvc]="app.tags" [form]="recieverForm" [controlIdKey]="'tags'"  [refNameKeys]="['fullNname']"></app-multi-select>
    <button type="submit" [disabled]="submitDisabled" class="btn btn-primary">{{(reciever?'Save_changes':'Add_new')|translate}}</button>
  </fieldset>
</form>
