.select-dropdown{
  z-index: 100;
  background: rgba(255,255,255,1);
  border: 1px solid rgba(0,0,0,.1) ;
  overflow-y: scroll;
  max-height: 200px;
  width: 500px;
  display: block;
  position: absolute;
  padding: 10px;
  .loading-spinner {
    padding: 15px;
  }
}
