<h3><span  class="text-capitalize">{{'type.account'|translate}}</span> : {{(account?'Edit':'Create')|translate|lowercase }}</h3>
<form  [formGroup]="accountForm" (submit)="onAccountFormSubmit()">
  <fieldset  [disabled]="(account&&!app.accounts.r.m)||(!account&&!app.accounts.r.a)" >
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="name" translate>accounts.name</label>
              <input type="text" class="form-control" id="name" formControlName="name">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="wtoken" translate>accounts.wtoken</label>
              <input type="text" class="form-control" id="wtoken" formControlName="wtoken">
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">{{(account?'Save_changes':'Add_new')|translate}}</button>
        <button *ngIf="account" (click)="initAccount()" type="button" class="btn btn-secondary ml-1" translate>accounts.Init</button>
      </div>
      <div class="col-md-6">
        <div *ngIf="initializing" class="silver text-center m-3"><fa-icon [icon]="faCog" [spin]="true"></fa-icon> {{'accounts.Trying to init this Account'|translate}}...</div>
        <div *ngIf="initResult">
          <div *ngIf="initResult.connected" class="alert alert-success" role="alert">{{'accounts.Connected to Wialon as'|translate}} <strong>{{initResult.wuser.nm}}</strong></div>          
          <div *ngIf="initResult.connect_error" class="alert alert-danger" role="alert">{{'accounts.Wialon connect error'|translate}} <div>Error {{initResult.connect_error.error}}: {{initResult.connect_error.reason}}</div></div>          
          <div *ngIf="initResult.wunits_loaded" class="alert alert-success" role="alert">{{'accounts.Wialon Units list loaded'|translate}}: <strong>{{initResult.wunits.items.length}}</strong> {{'accounts.items'|translate}}</div>          
          <div *ngIf="initResult.wunits_error" class="alert alert-danger" role="alert">{{'accounts.Wialon Units list loading error'|translate}} <div>Error: {{initResult.wunits_error.error}}</div></div>          
          <div *ngIf="initResult.wnotifications_loaded" class="alert alert-success" role="alert">{{'accounts.Wialon Notifications found'|translate}}: <strong>{{initResult.wnotifications.items.length}}</strong> {{'accounts.items'|translate}}</div>          
          <div *ngIf="initResult.wnotifications_error" class="alert alert-danger" role="alert">{{'accounts.Wialon Notifications search error'|translate}} <div>Error: {{initResult.wnotifications_error.error}} : {{initResult.wnotifications_error.reason}}</div></div>          
          <div *ngIf="initResult.fl_notification_found" class="alert alert-success" role="alert">
            {{'accounts.FuelLimit notification found'|translate}}:  <strong>{{initResult.fl_notification_found.n}}</strong>
            <div *ngIf="initResult.fl_notification_found.un.length">
              {{'accounts.Used units'|translate}}:
              <ul>
                <li *ngFor="let nUnitId of initResult.fl_notification_found.un">{{app.units._index.id[nUnitId].nm}}</li>
              </ul>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </fieldset>
  
</form>
