@keyframes anim-appear {
  0% {opacity: 0; } 
  50% {opacity: 0; } 
  100% {opacity: 1;} 
}

#logo{
  margin: 20px;
  animation: anim-appear 3s ease-in; 

}

#h{
  animation: anim-appear 5s ease-in; 
}