<h3>
  <span  class="text-capitalize">{{'type.tag'|translate}}</span> : {{(tag?'Edit':'Create')|translate|lowercase }} 
  <span  *ngIf="!tag">
    (<span class="{{importMode?'pointer silver':''}}" (click)="importMode=false" translate>Single Item</span> | 
    <span  class="{{!importMode?'pointer silver':''}}" (click)="importMode=true" translate>Multiple</span>) 
  </span>
  <span *ngIf="tag&&tag.b">[<fa-icon [icon]="faCog" [spin]="true" class="grey"></fa-icon> {{'blocked'|translate}} {{tag.b|date: 'yyyy-MM-dd HH:mm:ss'}}]</span>
</h3>

<div *ngIf="importMode">
  <app-items-import [app]="app" [itemType]="itemType" [options]="importOptions" (parse)="parsedItems=$event"></app-items-import>
  <div class="row">
    <div class="col-md-4">
      <button  type="button" (click)="importItems(parsedItems.items)" [disabled]="!parsedItems.items.length||parsedItems.errors.length||!app.tags.ready"  class="btn btn-primary btn-block" >{{(tag?'Save_changes':'Add new Items')|translate}} ({{parsedItems.items.length}})</button> 
    </div>
    <div class="col-md-8">
      <div *ngIf="multiAddErrors.length" class="alert alert-danger" role="alert">
        <b><span  class="text-capitalize" translate>errors</span>: {{multiAddErrors.length}}</b>
        <ul>
          <li *ngFor="let res of multiAddErrors"><span *ngIf="res.error">{{res.error}}</span></li>
        </ul>
      </div>
      <div *ngIf="parsedItems.errors&&parsedItems.errors.length" class="alert alert-danger" role="alert">
        <b><span  class="text-capitalize" translate>errors</span>: {{parsedItems.errors.length}}</b>
        <ul>
          <li *ngFor="let error of parsedItems.errors">
            <span translate>row</span>: {{error.row}}, 
            <span translate>field</span>: <span class="font-italic" translate>tags.{{error.fieldName}}</span>, 
            <span translate>error</span>: <span class="font-italic" translate>{{error.result.msg}}</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<form  [formGroup]="tagForm" *ngIf="!importMode" (submit)="onTagFormSubmit()">
  <fieldset  [disabled]="(tag&&!app.tags.r.m)||(!tag&&!app.tags.r.a)||(tag&&tag.b)" >

    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="num" translate>tags.num</label>
              <input type="text" class="form-control" id="num" formControlName="num">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="units_id" translate>tags.units_id</label>
              <input type="hidden" class="form-control" id="units_id" formControlName="units_id">
              <app-search-select [item]="item" [refSvc]="app.units" [form]="tagForm" [controlIdKey]="'units_id'"  [refNameKey]="'nm'"></app-search-select>
            </div>
          </div>
        </div> 
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="drivers_id" translate>tags.drivers_id</label>
              <input type="hidden" class="form-control" id="drivers_id" formControlName="drivers_id">
              <app-search-select [item]="item" [refSvc]="app.drivers" [form]="tagForm" [controlIdKey]="'drivers_id'"  [refNameKey]="'name1'"></app-search-select>

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">  
            <button type="submit"  [disabled]="(tag&&!app.drivers.r.m)||(!tag&&!app.drivers.r.a)||saving"  class="btn btn-primary btn-block" >{{(tag?'Save_changes':'Add_new')|translate}}</button>          
          </div>
        </div>
      </div>
      <div  *ngIf="tag" class="col-md-8">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="total_limit" translate>tags.total_limit</label>
              <div class="input-group mb-3">
                <input  [(ngModel)]="total_limit" [ngModelOptions]="{standalone: true}"  type="text" class="form-control">
                <div class="input-group-append">
                  <button (click)="changeTagValue('total_limit_change',total_limit)" [disabled]="tag&&!tag.recievers.length" class="btn btn-outline-secondary" type="button" translate>Set</button>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="day_limit" translate>tags.day_limit</label>
              <div class="input-group mb-3">
                <input  [(ngModel)]="day_limit" [ngModelOptions]="{standalone: true}"  type="text"  class="form-control">
                <div class="input-group-append">
                  <button (click)="changeTagValue('day_limit_change',day_limit)" [disabled]="tag&&!tag.recievers.length" class="btn btn-outline-secondary" type="button" translate>Set</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="total_balance" translate>tags.total_balance</label>
              <!-- <div class="input-group mb-3"> -->
                <input  [(ngModel)]="total_balance" [ngModelOptions]="{standalone: true}" [readonly]="tag&&tag.recievers.length" type="text" class="form-control">
                <!-- <div class="input-group-append"> -->
                  <!-- <button (click)="changeTagValue('total_balance_change',total_balance)" class="btn btn-outline-secondary" type="button" >Set</button> -->
                <!-- </div> -->
              <!-- </div> -->
            </div>
            <div class="form-group">
              <label for="day_balance" translate>tags.day_balance</label>
              <!-- <div class="input-group mb-3"> -->
                <input  [(ngModel)]="day_balance" [ngModelOptions]="{standalone: true}" [readonly]="tag&&tag.recievers.length" type="text"  class="form-control">
                <!-- <div class="input-group-append"> -->
                  <!-- <button (click)="changeTagValue('day_balance_change',day_balance)" class="btn btn-outline-secondary" type="button" >Set</button> -->
                <!-- </div> -->
              <!-- </div> -->
            </div>
          </div>
          <div  *ngIf="tag" class="col-md-4">
            <div class="form-group">
              <label for="day_balance" ><span translate>reset</span><span *ngIf="resetClicked">: <span translate >Are you sure</span>?</span></label><br>
              <button [disabled]="tag&&!tag.recievers.length" *ngIf="!resetClicked" (click)="resetClicked=true"  class="btn btn-outline-warning" type="button" translate>tags.Reset Tag balance</button>
              <div>
                <button *ngIf="resetClicked" (click)="changeTagValue('tag_reset',0); resetClicked=false"  class="btn btn-warning" type="button" translate>Yes </button>
                <button *ngIf="resetClicked" (click)="resetClicked=false"  class="btn btn-secondary ml-2" type="button" translate>No</button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="tag&&tag.recievers.length" class="card " >
          <div class="card-header ">
            <span translate>tags.This tag added to reciever(s)</span>
          </div>
          <ul class="list-group list-group-flush ">
            <li class="list-group-item " *ngFor="let recieverUnitName of tag.recieverUnitNamesArray">
              {{recieverUnitName}}
            </li>
          </ul>
        </div>
        <div *ngIf="tag&&!tag.recievers.length" class="card " >
          <div class="card-header ">
            <span translate>tags.This tag is not added to any receiver</span>
          </div>
        </div>
        <div *ngIf="tag&&tag.rtqerrors&&tag.rtqerrors.length" class="card mt-2" >
          <div class="card-header ">
            <span translate>RTQueue Errors <sup><span class="badge badge-danger">{{tag.rtqerrors.length}}</span></sup></span>
          </div>
          <ul class="list-group list-group-flush ">
            <li class="list-group-item " *ngFor="let rtqerror of tag.rtqerrors">
              <div class="row grey small">
                <div class="col-md-6">
                  Действие: <span translate>{{'rtqueue.types.'+app.ref.rtqueue_types[rtqerror.type]}}</span>
                  <span *ngIf="rtqerror.value"> | <span translate>value</span>: {{rtqerror.value}}</span>  
                   | <span translate>Try</span>: {{rtqerror.try}}/{{rtqerror.try_limit}}
                </div>
                <div class="col-md-6 text-right">
                  {{rtqerror.finished|date : 'yyyy-MM-dd HH:mm:ss'}} 
                </div>
              </div>
              <div class="row">
                <div class="col-md-9">
                  <span class="font-weight-bold">Ресивер</span>: {{app.recievers._index.id[rtqerror.recievers_id]&&app.recievers._index.id[rtqerror.recievers_id].name}}
                  <div><span class="font-weight-bold">Response</span>: <span class="text-danger">{{rtqerror.result}}</span></div>
                </div>
                <div class="col-md-3 text-right">
                  <button type="button" (click)="retryRTTask(rtqerror)" class="btn btn-outline-secondary btn-sm mt-3 ">Retry</button>
                  <button type="button" (click)="cancelRTTask(rtqerror)" class="btn btn-outline-danger btn-sm mt-3 ml-1">Cancel</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="!tag">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="total_limit" translate>tags.total_limit</label>
              <input   type="text" class="form-control" formControlName="total_limit">
            </div>
            <div class="form-group">
              <label for="day_limit" translate>tags.day_limit</label>
              <input   type="text"  class="form-control" formControlName="day_limit">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="total_balance" translate>tags.total_balance</label>
              <input   type="text" class="form-control" formControlName="total_balance">
            </div>
            <div class="form-group">
              <label for="day_balance" translate>tags.day_balance</label>
              <input   type="text"  class="form-control" formControlName="day_balance">
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8" *ngIf="saving||savingResults">

        <br>
        <br>
        <label>Sync results 
          <span class="pointer badge badge-{{!viewAsSource?'primary':'secondary'}}" (click)="viewAsSource=false">Parsed</span> 
          <span class="ml-1 pointer badge badge-{{viewAsSource?'primary':'secondary'}}" (click)="viewAsSource=true">Source</span>
        </label>
        <div *ngIf="saving" class="silver"><fa-icon [icon]="faCog" [spin]="true"></fa-icon> Waiting for saving and sync results...</div>
        <div *ngIf="savingResults">
          <div *ngIf="!viewAsSource">
            <div>
              Item saved:
                <b *ngIf="savingResults.saved" class="green">Yes</b>
                <b *ngIf="!savingResults.saved" class="red">No</b>
            </div>
            <div *ngIf="savingResults.saved">
              <h5>Changed</h5> 
              <table class="table  table-sm">
                <tr><th>Field</th><th>Old value</th><th>New value</th></tr>
                <tr *ngFor="let key of savingResults.difference|keys">
                  <td>{{key}}</td>
                  <td>{{savingResults.difference[key][0]}}</td>
                  <td>{{savingResults.difference[key][1]}}</td>
                </tr>
              </table>
            </div>
            <div *ngIf="savingResults.update_limits&&(savingResults.update_limits|keys).length" >
              <h5>Setting Limits</h5>
              <div *ngFor="let rtrows of savingResults.update_limits.rtrows" class="card mb-2">
                <div class="card-body">
                  <h6 class="card-title">
                    Reciever #{{rtrows.rid}} 
                    : {{app.recievers._index.id[rtrows.rid].unitNm}} 
                    : {{app.recievers._index.id[rtrows.rid].unitHwName}} 
                    : {{rtrows.uid}}
                  </h6>
                  <div class="card-text">
                    <div *ngIf="rtrows.alreadySaved"><fa-icon [icon]="faCheckCircle" class="green"></fa-icon> Already saved at {{rtrows.rtupd|date: 'yyyy-MM-dd HH:mm:ss'}}</div>
                    <table *ngIf="rtrows.sendLimitToReciever" class="table  table-sm">
                      <tr>
                        <td width="130px">Set response</td> 
                        <td>
                          <span *ngIf="!rtrows.sendLimitToReciever.set_response" class="silver">No answer</span> 
                          <span *ngIf="rtrows.sendLimitToReciever.set_response">{{rtrows.sendLimitToReciever.set_response}}</span> 
                        </td>
                      </tr>
                      <tr>
                        <td>Saved</td> 
                        <td><b *ngIf="rtrows.sendLimitToReciever.saved" class="green">Yes</b><b *ngIf="!rtrows.sendLimitToReciever.saved" class="red">No</b></td> 
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <pre *ngIf="viewAsSource" style="font-size: 12px; font-family: 'Lucida Console', Monaco, monospace; color: rgba(0,0,0,.7);">{{savingResults|json}}</pre>
        </div>
      </div>
    </div>
  </fieldset>
</form>
