<form [formGroup]="commandForm" (submit)="sendCommand()">
  <div class="row">
    <div class="col-md-4">
      <div class="input-group">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" type="button" (click)="showSendedComandsList=!showSendedComandsList" translate>Prev</button>
        </div>
        <input type="text" class="form-control" formControlName="text"  placeholder="{{'Command text'|translate}}">
      </div>
    </div>
    <div class="col-md-3">
      <app-search-select [item]="command" [refSvc]="app.units" [form]="commandForm" [controlIdKey]="'units_id'"  [refNameKey]="'nm'"></app-search-select>
    </div>
    <div class="col-md-2">
      <select class="form-control"  formControlName="service" >
        <option value="wialon">Wialon</option>
        <option value="flespi" disabled>Flespi</option>
      </select>
    </div>
    <div class="col-md-3">
      <button type="submit"  class="ml-2 btn btn-primary" translate >Send</button>
      <button type="button" (click)="getCommandsMessages()"  class="ml-2 btn btn-light" translate>Messages</button>
    </div>
  </div>
</form>

<div *ngIf="showSendedComandsList" class="card mt-2" style="position: absolute;">
  <div class="card-body">
    <div *ngFor="let text of sendedCommandsList; index as i;">
      <span class="tomato pointer" (click)="delCommandFromSendedList(text);"><span class="mr-5">X</span></span>
      <span class="pointer" (click)="setCommandText(text); showSendedComandsList=false; ">{{text}}</span>
    </div>
  </div>
</div>

<div *ngIf="commands.sending" class="card mt-2" style="position: absolute; left: 40%;">
  <div class="card-body">
    <div  class="silver text-center "><fa-icon [icon]="faCog" [spin]="true"></fa-icon> {{'Waiting for sending command...'|translate}}</div>
  </div>
</div>

<div *ngIf="messages.waiting" class="card mt-2" style="position: absolute; left: 40%;">
  <div class="card-body">
    <div class="silver text-center "><fa-icon [icon]="faCog" [spin]="true"></fa-icon> {{'Waiting for request messages...'|translate}}</div>
  </div>
</div>

<div *ngIf="commandResult" class="mt-2">
  <label>
    <h5 style="display: inline;">Sending result: {{commands.sending?'...':''}} {{!commands.sending&&(commandResult.error?'no':'yes')}}</h5>
      <span class="pointer badge badge-light" (click)="showResult=false">Hide</span> 
      <span class="pointer badge badge-{{!viewAsSource?'primary':'secondary'}}" (click)="viewAsSource=false; showResult=true;">Parsed</span> 
      <span class="ml-1 pointer badge badge-{{viewAsSource?'primary':'secondary'}}" (click)="viewAsSource=true; showResult=true;">Source</span>
  </label>
  <div *ngIf="showResult">
    <div *ngIf="!viewAsSource">
      <table class="table">
        <tbody>
          <tr>
            <td>{{commandResult.request_time*1000|date: 'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>Request</td>
            <td>{{commandResult.request}}</td>
          </tr>
          <tr>
            <td>{{commandResult.response_time*1000|date: 'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>Response</td>
            <td>
              {{commandResult.response}}
              <div *ngIf="commandResult.create_command">create_command: {{commandResult.create_command[0]}}</div>
              <div *ngIf="commandResult.sended!==undefined">sended: {{!commandResult.error?'yes':'no'}} <span class="red">{{commandResult.error|json}}</span></div>
              <div *ngIf="commandResult.delete_command">delete_command: {{commandResult.delete_command[0]}}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <pre *ngIf="viewAsSource" style="font-size: 12px; font-family: 'Lucida Console', Monaco, monospace; color: rgba(0,0,0,.7);">{{commandResult|json}}</pre>
  </div>
</div>

<div *ngIf="messages.items.length" class="mt-2">
    <h5>Commands log</h5>
    <table class="table">
      <colgroup>
        <col width="180px">
        <col width="50px">
      </colgroup>
      <tbody>
        <tr *ngFor="let message of messages.items">
          <td>{{message.t*1000|date: 'yyyy-MM-dd HH:mm:ss'}}</td>
          <td>
            <fa-icon *ngIf="message.cp" [icon]="faAngleDoubleLeft" ></fa-icon>
            <fa-icon *ngIf="!message.cp" [icon]="faAngleDoubleRight" ></fa-icon>
          </td>
          <!-- <td>{{message.pos.x}},{{message.pos.y}}</td> -->
          <td>{{message.p.gprs_answer}}{{message.cp}}</td>
          <!-- <td><span *ngFor="let key of message.p|keys">{{key}}: {{message.p[key]}};</span></td> -->
        </tr>
      </tbody>
    </table>
</div>



    <!-- <div class="col-md-4"> -->
          <!-- RFIDSet 6651865,1,5000,150 -->
          <!-- <br>RFIDInfo 6651865 -->
    <!-- </div> -->
<!-- <div class="row mb-4"> -->
  <!-- <div class="col-md-1"> -->
    <!-- <input type="text" class="form-control" [(ngModel)]="test.delay" [ngModelOptions]="{standalone: true}" placeholder="Delay"> -->
  <!-- </div> -->
  <!-- <div class="col-md-1"> -->
    <!-- <input type="text" class="form-control" [(ngModel)]="test.N" [ngModelOptions]="{standalone: true}" placeholder="N"> -->
  <!-- </div> -->
  <!-- <div class="col-md-1"> -->
    <!-- <button type="button" (click)="testLimit()"  class=" btn btn-primary">testLimit</button> -->
  <!-- </div> -->
  <!-- <div class="col-md-1"> -->
    <!-- <button type="button" (click)="testLimitParallel()"  class=" btn btn-primary">testLimitParallel</button> -->
  <!-- </div> -->
<!-- </div> -->
