<app-items-controls [app]="app" [itemType]="itemType" ></app-items-controls>
<app-items-table [app]="app" [itemType]="itemType" [options]="tableOptions"></app-items-table>

<!-- <div *ngIf="app.tags.r.r"> -->
<!-- <table class="mt-2 table {{!app.tags.ready?'not-ready':'ready'}}"> -->
  <!-- <thead> -->
    <!-- <tr> -->
      <!-- <th scope="col" width="30px">#</th> -->
      <!-- <th scope="col" width="30px"></th> -->
      <!-- <th scope="col" width="30px">#</th> -->
      <!-- <th scope="col">num</th> -->
      <!-- <th scope="col">unitNm</th> -->
      <!-- <th scope="col">driverName</th> -->
      <!-- <th scope="col">day_limit</th> -->
      <!-- <th scope="col">total_limit</th> -->
      <!-- <th scope="col" width="30px"></th> -->
    <!-- </tr> -->
  <!-- </thead> -->
  <!-- <tbody> -->
    <!-- <tr *ngFor="let item of app.tags.items | myFilter: app.state.items.tags.filter | slice:0:25 ; async as itemsResult ; index as i;"> -->
      <!-- <th scope="row">{{i+1}}</th> -->
      <!-- <td><a  class="{{!app.log.r.d&&'disabled'}}" href="" [routerLink]="'/log/11/'+item.id" title="Show log by this item"><fa-icon [icon]="faListAlt"></fa-icon></a></td> -->
      <!-- <td><a  href="" [routerLink]="'/tag/'+item.id" (click)="filter=''">{{item.num}}</a></td> -->
      <!-- <td>{{item.unitNm}}</td> -->
      <!-- <td><a  href="" [routerLink]="'/driver/'+item.drivers_id" (click)="filter=''">{{item.driverName}}</a></td> -->
      <!-- <td>{{item.day_limit}}</td> -->
      <!-- <td>{{item.total_limit}}</td> -->
      <!-- <td><span class="tomato pointer {{!app.tags.r.d&&'disabled'}}" (click)="app.tags.r.d&&delTag(item);"><fa-icon [icon]="faTrashAlt"></fa-icon></span></td> -->
    <!-- </tr> -->
  <!-- </tbody> -->
<!-- </table> -->
<!-- </div> -->
<!-- <div  *ngIf="!app.tags.r.r" class="alert alert-warning text-center" role="alert">Access denied. You have no read access to this items</div> -->