<app-items-controls [app]="app" [itemType]="'rtqueue'" ></app-items-controls>
<div *ngIf="app.rtqueue.r.r ">
  <table  class="table mt-2 {{!app.rtqueue.ready?'not-ready':'ready'}}">
    <thead>
      <tr>
        <th scope="col" ><span class="pointer" (click)="refresh()" translate >rtqueue.c</span></th>
        <th scope="col" translate >rtqueue.typeName</th>
        <th scope="col" translate >rtqueue.recieverName</th>
        <th scope="col" translate >rtqueue.unitNm</th>
        <th scope="col" translate >rtqueue.units_imei</th>
        <th scope="col" translate >rtqueue.tags_id</th>
        <th scope="col" translate >rtqueue.tags_num</th>
        <th scope="col" translate >rtqueue.value</th>
        <th scope="col" translate >rtqueue.userName</th>
        <th scope="col" translate >rtqueue.started</th>
        <th scope="col" translate >rtqueue.finished</th>
        <th scope="col" translate >rtqueue.statusName</th>
        <th scope="col" translate >rtqueue.try</th>
        <th scope="col" translate >rtqueue.try_limit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of app.rtqueue.items | myFilter: s.filter | orderBy : ['-c','-id'] ">
        <td>{{item.c|date : 'yyyy-MM-dd HH:mm:ss'}}</td>
        <td translate>rtqueue.types.{{item.typeName}}</td>
        <td title="{{item.recieverName}}">#{{item.recievers_id}}</td>
        <td title="{{item.unitNm}}">#{{item.units_id}}</td>
        <td>{{item.units_imei}}</td>
        <td title="{{item.tagName}}">#{{item.tags_id}}</td>
        <td>{{item.tags_num}}</td>
        <td>{{item.value}}</td>
        <td>{{item.userName}}</td>
        <td>{{item.started|date : 'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{item.finished|date : 'yyyy-MM-dd HH:mm:ss'}}</td>
        <td title="{{item.result}}" translate>rtqueue.statuses.{{item.statusName}}</td>
        <td>{{item.try}}</td>
        <td>{{item.try_limit}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div  *ngIf="!app.rtqueue.r.r " class="alert alert-warning text-center" role="alert" translate>Access_denied_to_this_items</div>
<!-- <app-items-paginator *ngIf="app.rtqueue.ready" [state]="app.state.items.rtqueue"    [result]="result"></app-items-paginator> -->
