.select-container{
  display: inline-block;
  min-width: 500px;
}
.buttons-container{
  display: inline-block;
  min-width: 30px;
  vertical-align: top;
  margin-top: 27px;
  button{
    margin: 5px;
  }
}