<h3><span  class="text-capitalize">{{'type.user'|translate}}</span> : {{(user.id?'Edit':'Create')|translate|lowercase }}</h3>
<form  [formGroup]="userForm" (submit)="onUserFormSubmit($event)">
  <fieldset  [disabled]="(user.id&&!app.users.r.m)||(!user.id&&!app.users.r.a)" >
    <div class="row">
      <div class="col-md-3 col-xl-2 ">
        <div class="form-group">
          <label for="name" translate>users.name</label>
          <input type="text" class="form-control" id="name" formControlName="name">
        </div>
        <div class="form-group">
          <label for="password" translate>users.password</label>
          <div class="input-group mb-3">
            <input type="{{passwordsVisible?'text':'password'}}" class="form-control" id="password" formControlName="password"
              (keyup)="checkPasswordConfirmation()"
              (change)="checkPasswordConfirmation()"
            >
            <div class="input-group-append">
              <span class="input-group-text pointer" (click)="passwordsVisible=!passwordsVisible" ><fa-icon [icon]="passwordsVisible?faEye:faEyeSlash"></fa-icon></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password_confirmation" translate>users.password_confirmation</label>
          <div class="input-group mb-3">
            <input type="{{passwordsVisible?'text':'password'}}" class="form-control {{!userForm.controls.password.valid&&'ng-invalid'}}" id="password_confirmation" 
              (keyup)="checkPasswordConfirmation($event)"
              (change)="checkPasswordConfirmation($event)"
            >
            <div class="input-group-append">
              <span class="input-group-text pointer" (click)="passwordsVisible=!passwordsVisible" ><fa-icon [icon]="passwordsVisible?faEye:faEyeSlash" ></fa-icon></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email" translate>users.email</label>
          <input type="email" class="form-control" id="email" formControlName="email">
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-{{userForm.dirty?'primary':'secondary'}}" [disabled]="!userForm.valid" >{{(user.id?'Save_changes':'Add_new')|translate}}</button>
  </fieldset>
</form>
