.reg{
  border: 1px solid rgba(0,0,0,.1);
  margin: 2px;
  border-radius: 5px;
  background: hsla(200,50,50,.1);
  &.start{
    background: hsla(100,250,50,.1);
  }
  &.finish{
    background: hsla(30,250,50,.1);
  }
}

.clickable{
  cursor: pointer;
  &:hover{
    background: rgba(0,20,30,.1)
  }
}

.scrolled{
  overflow-y: auto;
  max-height: 500px;  
}