.reg{
  border: 1px solid rgba(0,0,0,.1);
  margin: 2px;
  border-radius: 5px;
}

.clickable{
  cursor: pointer;
  &:hover{
    background: rgba(0,20,30,.1)
  }
}

.scrolled{
  overflow-y: auto;
  max-height: 500px;  
}