<div *ngIf="!app.go.race">
  <h4>Select race:</h4>
    <table  class="mt-2 table" id="items-table">
      <tr *ngFor="let item of app.races.items">
        <td><a class="nav-link" routerLink="/go/{{item.id}}"  href="">{{item.name}}</a></td>
      </tr>
    </table>
</div>

<div *ngIf="app.go.race">
  <h5>{{app.go.race.name}}</h5>
  <div class="row" >
    <div class="col-md-6">
      <div 
        *ngFor="let item of app.events.items | orderBy: ['-t']; index as i;" 
        [ngStyle]="{'margin-top': delayH(item, app.events.items, i)}"
        class="reg"
        >
        <div><b>{{item.competitorNum}}</b> : {{item.competitorName}} : {{item.categoryName}} <span class="text-right">{{item.t|date:'HH:mm:SSS'}}</span></div>
      </div>
    </div>
    <div class="col-md-6">
      <form  (submit)="onFormSubmit()">
        <fieldset>
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="newEvent.competitorId" [ngModelOptions]="{standalone: true}" placeholder="competitorId">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="newEvent.t" [ngModelOptions]="{standalone: true}" placeholder="t">
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-lg" type="submit">Register lap</button>
          </div>

        </fieldset>
      </form>
    </div>
  </div>
</div>

